<div class = "container">
  <form (ngSubmit) = "onSubmit()" #loginForm="ngForm">
    <div class = "form-group">
      <label for = "name">User Name</label>
      <input type="text" class = "form-control" id = "username" required [(ngModel)] = "model.name" name = "name">
    </div>

    <div class = "form-group">
      <label for = "password">Password</label>
      <input type = "password" class = "form-control" id = "password" required [(ngModel)] = "model.password" name = "password">
    </div>

    <button type = "submit" class = "btn btn-success" [disabled] = "!loginForm.form.valid">Login</button>
  </form>
</div>
